
table a {
	text-decoration: none;
	color: black;
}

table {
	border-collapse: collapse;
	border: 2px solid black;
	border-radius: 8px;
	font-family: K2D;
}

body {
	font-size: 13pt;
	background: linear-gradient(to bottom, rgba(30,87,153,0.65) 1%,rgba(30,87,153,0.22) 7%,rgba(30,87,153,0) 10%,rgba(30,87,153,0) 13%);
	background-repeat: no-repeat;
}

.popbutton
{
	display: block;
	width: 100%;
	background-color: rgba(30,87,153,0.65);

	margin: 0;
	padding: 0.5em;
	display: inline-block;
	box-sizing: border-box;
	
	text-align: center;
	font-variant: small-caps;
	font-weight: bold;
}

.popbutton:hover
{
	background-color: cyan;
	color: black;
}

.popup
{
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	position: fixed;
	display: block;
	overflow-y: scroll;
	padding: 4em;
	box-sizing: border-box;
}

.message_box
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	box-sizing: border-box;
	padding: 1em;
	padding-top: 0em;
	max-width: 450px;
	overflow: hidden;
	
	background-color: white;
	font-size: 1.25em;
}

ul {
	list-style-type: circle;
}

ol {
	list-style-type: upper-roman;
}

th:hover {
	background-color: #e3e5fc;
}

html {
	overflow: auto;
}

.art {
	float: left;
	display: block;
	box-sizing:border-box;
	width: 100%;
	padding-left: ;
}

li, td, tr{
	padding:0.5em
}

.accountwallpaper {
	background-image: url("Wallpapers/AccountWallpaper1.jpg");
	background-position: right bottom;
	background-repeat: no-repeat;
}
		
.MenuBar {
	border-right-color: #ADC2DA;
}

.fieldset {
	border-width: 2px;
	border-color: #000000;
}

.wallpaper {
	width: 100%;
	height: auto;
	margin: 2.5em 0 0 0;
	box-sizing: border-box;
	position: relative;
	opacity: 0.65;
	transition: opacity 0.5s;
}

.wallpaper:hover {
	opacity: 1;
	transform:scale(5%);
	transition: opacity 0.5s;
}

.wallp {
	position: absolute;
	/*text-align: center;
	padding: 460px 0 0 360px;*/
	top: 71.5%;
	left: 26.5%;
	box-sizing: border-box;
	color: black;
    text-shadow:
    -1px -1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    1px 1px 0 #FFFFFF; 
}

.collection {
	display: inline-block;
	width: 70%;
}

input[type=text].form {
	border-width:2px;
	border-radius: 4px;
	padding-left: 3px;
	padding-bottom: 2px;
	border-color: #000000;
}
	
input[type=password] {
	border-width:2px;
	border-radius: 4px;
	padding-left: 2px;	
	border-color: #000000;
}

.homecity {
	width: 200px; 
	padding: 10px; 
	border: 2px solid grey;
	border-radius: 4px; 
	background-color: #FAFAFA;
}

input[type=radio]: checked {
	background-color: #FAFAFA
}

input[type=submit], input[type=button], input[type=reset] {
	background-color: #E0E0E0;
	color: black;
	font-family: source sans pro;
	border-width:1px;
	border-color: #000000;	
}

input[type=button]:hover {
	background-color: #FFFFFF;
	color: blue;
	font-family: K2D;
	border-width:1px;
	border-color: #1509AE;
	transition: 0.5s
}

input[type=submit]:hover {
	background-color: #FFFFFF;
	color: blue;
	font-family: K2D;
	border-width:1px;
	border-color: #07005B;
	transition: 0.5s
}

input[type=reset]:hover {
	background-color: #FFFFFF;
	color: blue;
	font-family: K2D;
	border-width:1px;
	border-color: #07005B;
	transition: 0.5s
}
	
textarea {
	box-sizing: border-box;
	border-width: 1px;
	border-radius: 2px;
	background-color: #E0E0E0;
	border-color: #07005B;
	padding-left: 2px;
}

#item1, #item2, #item3, #item4, #item5, #item6, #item7, #item8, #item9, #item10, #item11, #item12, #item13
{
	transform: translateX(300%);
	transition: transform 0.5s;
}
div #DT
{
	max-height: 100px;
	max-width: 100px;
}

/*------------------------*/

.gallery figure
{
	display: inline-block;
	width: 350px;
	height: 350px;
	position: relative;
	overflow: hidden;
}

.gallery figure img
{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

figure p
{
	position:absolute;
}

.bigger
{
	height: 200px;
	width: 200px;
}

img:hover
{
	border-width:3px;
	border-color:black;
}
/*----------------------*/

.popup_plane
{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	opacity: 1;
	transition: opacity 0.5s;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-y: scroll;
	font-family: source sans pro;
}

.popup_plane figure
{
	display: block;
	background-color: white;
	border-radius: 1em;
	margin: 1em auto;
	padding: 1em;
	max-width: 500px;
}

.popup_plane figure img
{
	max-width: 100%;
/*	margin-left: auto;
	margin-right: auto;*/
	margin-bottom: 0.5em;
}

.popup_plane figcaption
{	
	text-align: center;
}